h1{
    color: #704b43;
}

.sidebar_tittle{
    font: size 2rem;
    margin-left: 10px;
}

#subheader{
    background-color: rgb(201, 198, 198);
    
}

.carrusel {
    background: #f5f5e1;
    border:2px solid #efedd7;
    border-radius: 10px;
    padding: 30px 35px;
    margin:30px 0;
}

body ::-webkit-scrollbar{ 
    background-color: #857462;
    border-radius: 10px;
    width: 5px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-thumb{
    background-color: #563356;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.horizontal-scroll-wrapper {
    display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.horizontal-scroll-wrapper > div {
  width: 400px;
  height: auto;
}

.footer {
    background-color: rgb(158, 212, 247);
    border: 1px solid rgb(167, 167, 167);
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: -20px;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(158, 212, 247);
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.boton-uva{
    background-color: #563356;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 15px;
}

.boton-uva:hover{
    background-color: #ed8f21;
    color: white;
    text-decoration: none;
}

.bienvenida {
    font-weight: 800;
    font-size: 3.4em;
    color: #857462;
}
.bienvenida_titulo{
    font-size: 4.0em;
    font-weight: 800;
    line-height: 1.25em;
    color: rgb(158, 212, 247);
}

.my-personal-info {
    background-color: #704b43;
    color: white;
    font-size: 0.92em;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 15px;
    line-height: 1.7em;
}

.bold {
    font-weight: 700;
}

.contacto{
    font-weight: 700;
    font-size: 2.4em;
    color: #857462;
}

.tarjeta {
    border: 1px solid #efedd7;
    border-radius: 15px;
    background-color: #f5f5ef;
    padding: 35px 45px;
    font-weight: 400;
    color: #704b43;
    margin: 10px 5px;
}