<!-- acerca.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container m-auto">
    <div class="tarjeta">
        <h1>Sobre Nosotros</h1>
        <p>
           Mi nombre Jos&eacute; Navarrete, agradecido con el profesor por la paciencia durante el curso.
        </p>
        <p>
            Agradecido con Polotic Misiones, por la oportunidad de tomar un curso como el DESARROLLO WEB FULLSTACK CON PYTHON Y JAVASCRIPT 
        </p>
        <p>
            La aplicaci&oacute;n Jaguarete Shop forma parte del proyecto final el cual consist&iacute;a en la implementaci&oacute;n
            de una tienda Virtual, en su representaci&oacute;n b&aacute;sica o el producto m&iacute;nimo viable para obtener la cantidad
            m&aacute;xima de conocimiento validando lo aprendido durante el curso.
        </p>
    </div>
</div>

{% endblock %}