<!-- contacto.html -->
{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="m-auto container">
    <div class="row justify-content-center contacto">
        <br> Contactenos, estamos para servirle <br><br>
       <ul style="list-style: none;">
        <li><i class="fab fa-instagram"> Correo: josnavch@gmail.com</i> </li>
        <li><i class="fas fa-phone-square"> Teléfono: +506 88895222</i> </li>
        <li> <i class="fas fa-map-marker">Dirección: San José, Costa Rica</i> </li>
        </ul>
    </div>
</div>

{% endblock %}