{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
{% if category %}{{ category.descripcion }}{% else %}Productos{% endif %}
{% endblock %}
 
{% block content %}

<div class="sidebar">
            <h3 class="sidebar_tittle">Categorias</h3>
            <ul class="active">
                {% if not category %}{% endif %}
                    <a href="{% url "shop:product_list" %}">All</a>
                
                {% for c in categories %}
                    {% if category.id_cat == c.id_cat %}{% endif %}
                        <a href="{{ c.get_absolute_url }}">{{ c.descripcion }}</a>
                    
                {% endfor %}
            </ul>
        </div>
        <div id="main" class="content">
            <h1>{% if category %}{{ category.descripcion }}{% else %}
            Productos{% endif %}</h1>
            <div class="carousel">
                <div class="horizontal-scroll-wrapper">
                    {% for product in productos %}
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-img-top text-center">
                                    <a href="{{ product.get_absolute_url }}">
                                        {% load thumbnail %}
                                        {% if product.imagen  %}
                                            {% thumbnail product.imagen '300x200' as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="{% static 'media/No_image_available.png' %}" style="height: 200px; width: 200px;">
                                        {% endif %} 
                                    </a>

                                </div>
                                <div class="card-body text-center">
                                    <p class="card-title" href="{{ product.get_absolute_url }}">{{ product.titulo }}</p>
                                    
                                </div>
                                <div class="card-footer d-flex">
                                    <div> <p class="card-text pricing-card-title">${{ product.precio }} </p> </div>
                                    <div class="ml-auto">
                                        <i class="fas fa-cart-plus btn"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}   
                </div>    
            </div>
        </div>
{% endblock %}